In [1]:
import pandas as pd
import numpy as np

In [2]:
# Dataset description:
# https://www.opensecrets.org/resources/datadictionary/Data%20Dictionary%20lob_lobbying.htm
columns_lob_lobbying = ['uniqid', 'registrant_raw', 'registrant', 'isfirm', 
                     'client_raw', 'client', 'ultorg', 'amount', 'cid', 'catcode'
                     'source', 'self', 'includensfs', 'use', 'ind', 'year',
                     'type', 'typelong', 'affiliate']

columns_lob_lobbying = dict(enumerate(columns_lob_lobbying))

In [3]:
df = pd.read_csv('../../data/open_secrets/Lobby/lob_lobbying.csv', on_bad_lines='skip', sep=',', header=None, na_values=['N/A', 'NA'], encoding='ISO-8859-1')
df = df.rename(columns=columns_lob_lobbying)

/var/folders/rm/kxyn59hn41j35zkp54p83xp40000gn/T/ipykernel_87014/2417144555.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../../data/open_secrets/Lobby/lob_lobbying.csv', on_bad_lines='skip', sep=',', header=None, na_values=['N/A', 'NA'], encoding='ISO-8859-1')

In [4]:
# Get rid of the pipes on both sides of the data.
df = df.map(lambda x: x.replace('|', '') if type(x) == str else x)

# Other cleanup.
df['year'] = pd.to_numeric(df['year'], errors='coerce')
df = df.dropna(subset=['year'])
df['year'] = df['year'].astype(int)

df['amount'] = pd.to_numeric(df['amount'], errors='coerce')
df = df.dropna(subset=['amount'])
df['amount'] = df['amount'].astype(int)

In [5]:
# Look only at recent data.
df_recent = df[df['year'] >= 2020]

# Sort by amount.
df_sorted = df_recent.sort_values(by='amount', ascending=False)
df_sorted = df_sorted.reset_index(drop=True)

In [6]:
pd.options.display.max_columns = None
df_sorted

,uniqid,registrant_raw,registrant,isfirm,client_raw,client,ultorg,amount,cid,catcodesource,self,includensfs,use,ind,year,type,typelong,affiliate
0,4DE4CB9C-3FEB-4E2C-B624-DD49E4070B3D,National Association of Realtors,National Assn of Realtors,NaN,NATIONAL ASSOCIATION OF REALTORS,National Assn of Realtors,National Assn of Realtors,33420000,F4200,pac,p,,y,y,2020,q3,THIRD QUARTER REPORT,
1,a691691f-4081-42f9-a6c0-ad55d62c2918,NATIONAL ASSOCIATION OF REALTORS,National Assn of Realtors,NaN,NATIONAL ASSOCIATION OF REALTORS,National Assn of Realtors,National Assn of Realtors,29260000,F4200,pac,p,,y,y,2022,q3,THIRD QUARTER REPORT,
2,dc817608-db51-44e0-b686-c1947ac29d9c,NATIONAL ASSOCIATION OF REALTORS,National Assn of Realtors,NaN,NATIONAL ASSOCIATION OF REALTORS,National Assn of Realtors,National Assn of Realtors,25260000,F4200,pac,p,,y,y,2022,q4,FOURTH QUARTER REPORT,
3,2B6C2F3B-A0FC-4A43-A8FC-41F4AAE70BC8,National Association of Realtors,National Assn of Realtors,NaN,NATIONAL ASSOCIATION OF REALTORS,National Assn of Realtors,National Assn of Realtors,25150000,F4200,pac,p,,y,y,2020,q4,FOURTH QUARTER REPORT,
4,f7e0b28b-d440-4bbc-92b9-de98b932fa79,CHAMBER OF COMMERCE OF THE U.S.A.,US Chamber of Commerce,NaN,CHAMBER OF COMMERCE OF THE U.S.A.,US Chamber of Commerce,US Chamber of Commerce,23940000,G1100,pac,p,,y,y,2022,q3,THIRD QUARTER REPORT,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118831,d05cec78-69f1-41a2-baaa-a8b6e07a03cc,FIRST USA CONSULTING GROUP LLC,First USA Consulting Group,y,ORIENTAL FORTUNE INVESTMENT LIMITED,Oriental Fortune Investment,Oriental Fortune Investment,0,F2000,temp,n,,n,,2021,q4n,FOURTH QUARTER (NO ACTIVITY),
118832,2c5632bc-2872-4c1f-be92-0b8866dcf284,ALLIANCE TO SAVE ENERGY,Alliance to Save Energy,NaN,ALLIANCE TO SAVE ENERGY,Alliance to Save Energy,Alliance to Save Energy,0,JE300,name,p,,y,y,2022,q1,FIRST QUARTER REPORT,
118833,2233D30D-BFD1-4797-B294-0BEB6FC7D85D,Thompson & Horton LLP,Thompson & Horton,y,Texas School Alliance,Texas School Alliance,Texas School Alliance,0,X3500,wda16,n,,y,y,2020,q1,FIRST QUARTER REPORT,
118834,2c4ef38f-a4de-4784-8811-28a9196e9596,NATIONAL ASSOCIATION FOR MUSIC EDUCATION,National Assn for Music Education,NaN,NATIONAL ASSOCIATION FOR MUSIC EDUCATION,National Assn for Music Education,National Assn for Music Education,0,H5100,WAA22,p,,y,y,2022,q1,FIRST QUARTER REPORT,
118835,a2f704c8-53e7-42e9-9c00-714e8017dfb5,JAPAN AUTOMOBILE STANDARDS INTERNATIONALIZATIO...,Japan Automobile Standards Intl Center,NaN,JAPAN AUTOMOBILE STANDARDS INTERNATIONALIZATIO...,Japan Automobile Standards Intl Center,Japan Automobile Standards Intl Center,0,T2100,name,p,,y,y,2022,q4,FOURTH QUARTER REPORT,

In [8]:
df_sorted[df_sorted['cid'] == 'G2022']

Empty DataFrame
Columns: [uniqid, registrant_raw, registrant, isfirm, client_raw, client, ultorg, amount, cid, catcodesource, self, includensfs, use, ind, year, type, typelong, affiliate]
Index: []