In [14]:
import pandas as pd
import numpy as np

In [15]:
# Dataset description:
# https://www.opensecrets.org/resources/datadictionary/Data%20Dictionary%20lob_bills.htm
columns_lob_bills = ['b_id', 'si_id', 'congno', 'bill_name']

columns_lob_bills = dict(enumerate(columns_lob_bills))

In [18]:
df = pd.read_csv('../../data/open_secrets/Lobby/lob_bills.csv', on_bad_lines='skip', sep=',', header=None, na_values=['N/A', 'NA'], encoding='ISO-8859-1')
df = df.rename(columns=columns_lob_bills)

In [ ]:
# Get rid of the pipes on both sides of the data.
df = df.applymap(lambda x: x.replace('|', '') if type(x) == str else x)

# Other cleanup.
df['congno'] = pd.to_numeric(df['congno'], errors='coerce')
df = df.dropna(subset=['congno'])
df['congno'] = df['congno'].astype(int)

In [20]:
pd.options.display.max_columns = None
df

               b_id    si_id  congno bill_name
0         s1461-117  2820018     117    S.1461
1         hr463-117  2820018     117   H.R.463
2          s910-116  2820035     116     S.910
3        hr2405-116  2820035     116  H.R.2405
4        hr3816-117  2820067     117  H.R.3816
...             ...      ...     ...       ...
7262023   s1169-117  3048344     117    S.1169
7262024  hr4521-117  3048344     117  H.R.4521
7262025  hr7072-117  3048361     117  H.R.7072
7262026   s4373-117  3048361     117    S.4373
7262027    s586-117  3048375     117     S.586

[7238305 rows x 4 columns]