# Miscellaneous Tests #
##### A cleaner workspace setup #####

## Loading datasets ##

### Initialize

In [7]:
%run modules/init.ipynb

Initializing project...
pandas is already installed.
matplotlib is already installed.
networkx is already installed.
numpy is already installed.
...initialization complete.

### Get dataframes ###

In [47]:
%run modules/get_dataframes.ipynb

Initializing project...
pandas is already installed.
matplotlib is already installed.
networkx is already installed.
numpy is already installed.
...initialization complete.
Loading data module...
...data module loaded.
Creating dataframe...
dataframe created...
Creating dataframe...
dataframe created...
Creating dataframe...
dataframe created...
Creating dataframe...
dataframe created...
Creating dataframe...
dataframe created...
Creating dataframe...
dataframe created...
Creating dataframe...
dataframe created...
Creating dataframe...
dataframe created...
Creating dataframe...
dataframe created...
Creating dataframe...
dataframe created...
Creating dataframe...
dataframe created...
Creating dataframe...
dataframe created...
Creating dataframe...
dataframe created...
Creating dataframe...
dataframe created...
Creating dataframe...
dataframe created...
xlrd is already installed.

### All set! ###

In [13]:
df_indivs22.head()

,cycle,fectransid,contribid,contrib_last,contrib_first,recipid,orgname,ultorg,realcode,date,amount,street,city,state,zip,recipcode,type,cmteid,otherid,gender,microfilm,occupation,employer,source
0,2022,4061520221505841534,r0014256510,DILLARD,DANIEL,C00000935,[24T Contribution],,Z9500,2021-08-29,35,,HIDALGO,TX,78557,DP,24T,C00401224,C00000935,M,202205149504021121,NOT EMPLOYED,NOT EMPLOYED,Rept
1,2022,4061520221505841535,r0015503614,WHITE,SCOTTO,C00633404,[24T Contribution],,Z9500,2021-08-29,15,,YONKERS,NY,10701,PI,24T,C00401224,C00633404,M,202205149507911003,NOT EMPLOYED,NOT EMPLOYED,Rept
2,2022,4061520221505841536,p0003861308,DOMINGUEZ,SALLIE,C00632398,[24T Contribution],,Z9500,2021-08-29,10,,CAMPBELL,CA,95011,PI,24T,C00401224,C00632398,F,202205149504046504,HEALTHCARE,MCDONALD FAMILY DENTAL,Rept
3,2022,4061520221505841543,p0003689535,BRADLEY,JANNETTE,C00678839,[24T Contribution],,Z9500,2021-08-29,26,,OAK LAWN,IL,60453,PI,24T,C00401224,C00678839,F,202205149503347140,LIBRARIAN,MEDICAL CENTER,Rept
4,2022,4061520221505841545,q0002181378,BHATT,TANYA,C00580068,[24T Contribution],,Z9500,2021-08-29,50,,MIAMI BEACH,FL,33141,PI,24T,C00401224,C00580068,F,202205149503225635,MKTG,FRYE FINANCIAL,Rept

## Database tests ##

In [51]:
df_campfin22_pacs22.head(1)

,cycle,fecrecno,pacid,cid,amount,date,realcode,type,di,feccandid
0,2022,1011020220264924462,C00406124,N00029513,500,2021-10-18,B4000,24K,D,H8IN07184

In [53]:
df_cands22.sample(1)

,cycle,feccandid,cid,firstlastp,party,distidrunfor,distidcurr,currcand,cyclecand,crpico,recipcode,nopacs
6005,2022,H8UT02248,N00041886,Mary Burkett (R),R,UT02,,,,,RN,

In [55]:
df_cmtes22.head(1)

,cycle,cmteid,pacshort,affiliate,ultorg,recipid,recipcode,feccandid,party,primcode,source,sensitive,foreign,active
0,2022,C00000059,Hallmark Cards,NaN,Hallmark Cards,C00000059,PB,NaN,NaN,C1400,WAA21,Y,0,1

In [ ]:
import sqlite3

conn = sqlite3.connect('../../data/nicks-temp-database.sqlite')

df_campfin22_pacs22.to_sql('df_pacs22', conn, index=False, if_exists='replace')
df_cands22.to_sql('df_cands22', conn, index=False, if_exists='replace')
df_cmtes22.to_sql('df_cmtes22', conn, index=False, if_exists='replace')
df_lob_indus.to_sql('df_lob_indus', conn, index=False, if_exists='replace')

query = """
SELECT df_pacs22.*, df_cands22.*, df_cands22.*, df_lob_indus.*
FROM df_pacs22
INNER JOIN df_cands22 ON df_pacs22.cid = df_cands22.cid
INNER JOIN df_cmtes22 ON df_pacs22.cid = df_cmtes22.recipid
INNER JOIN df_lob_indus ON df_pacs22.realcode = df_lob_indus.catcode
"""

# query = """
# SELECT df_pacs22.*, df_cands22.*, df_cands22.*
# FROM df_pacs22
# INNER JOIN df_cands22 ON df_pacs22.cid = df_cands22.cid
# INNER JOIN df_cmtes22 ON df_pacs22.cid = df_cmtes22.recipid
# """

result_df = pd.read_sql_query(query, conn)

In [59]:
result_df.head()

,cycle,fecrecno,pacid,cid,amount,date,realcode,type,di,feccandid,cycle,feccandid,cid,firstlastp,party,distidrunfor,distidcurr,currcand,cyclecand,crpico,recipcode,nopacs,cycle,feccandid,cid,firstlastp,party,distidrunfor,distidcurr,currcand,cyclecand,crpico,recipcode,nopacs
0,2022,1011020220264924462,C00406124,N00029513,500,2021-10-18 00:00:00,B4000,24K,D,H8IN07184,2022,H8IN07184,N00029513,Andre Carson (D),D,IN07,IN07,Y,Y,I,DW,,2022,H8IN07184,N00029513,Andre Carson (D),D,IN07,IN07,Y,Y,I,DW,
1,2022,1011320230265253020,C00032979,N00041569,-2500,2022-11-21 00:00:00,Z9600,24K,D,H8IL14174,2022,H8IL14174,N00041569,Lauren A Underwood (D),D,IL14,IL14,Y,Y,I,DW,,2022,H8IL14174,N00041569,Lauren A Underwood (D),D,IL14,IL14,Y,Y,I,DW,
2,2022,1011320230265254779,C00032979,N00041511,-5000,2022-11-18 00:00:00,Z9600,24K,D,H8MN08043,2022,H8MN08043,N00041511,Pete Stauber (R),R,MN08,MN08,Y,Y,I,RW,,2022,H8MN08043,N00041511,Pete Stauber (R),R,MN08,MN08,Y,Y,I,RW,
3,2022,1011320230265254798,C00032979,N00035575,5000,2022-11-03 00:00:00,Z9600,24K,D,H4FL15155,2022,H4FL15155,N00035575,Alan Cohn (D),D,FL15,,Y,Y,O,DL,,2022,H4FL15155,N00035575,Alan Cohn (D),D,FL15,,Y,Y,O,DL,
4,2022,1011320230265254798,C00032979,N00035575,5000,2022-11-03 00:00:00,Z9600,24K,D,H4FL15155,2022,H4FL15155,N00035575,Alan Cohn (D),D,FL15,,Y,Y,O,DL,,2022,H4FL15155,N00035575,Alan Cohn (D),D,FL15,,Y,Y,O,DL,